@charset "utf-8";
#box{
    width: 450px;
    height: 500px;
    border-style: solid;
    margin-left: calc(50% - 225px);
    margin-top: 50px;
}
#box2{
    width: 370px;
    height: 400px;
   margin-left: 40px;
   margin-right: 40px;
   margin-top: 50px;
   margin-bottom: 50px;
}
#googlelogo{
    width: 80px;
    height: 30px;
}
.login{
    font-size: 24px;
}
.account{
    font-size: 15px;
}
#input_id{
    width: 252px;
    font-size: 15px;
    height: 25px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
}
.q_email{
    
    font-size: 15px;
    color: dodgerblue;
}
a{
    text-decoration: none;
}
.notmypc{
    font-size: 13px;
}
.detail{
    
    color: dodgerblue;
    font-size: 13px;
}
#acc_create{
    font-size: 15px;
    color: dodgerblue;
    text-decoration: none;
}
#login_button_id
{
    border-style: none;
    border-radius: 2px;
    margin:0px 0px 0px  220px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
} 